@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}


.div-h1 {
    width: 100%;
    height: 90px;
    align-content: center;
    align-items: center;
}


.main-h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    left: 35%;
    width: 400px;
    align-items: center;
    align-content: center;
    animation: mainh1 3s forwards;
    color: var(--white);
}

.checkbox:checked ~ .section .container .row .div-h1 h1{
	color: var(--dark-blue);
}



@keyframes mainh1{
    0%{
        transform: translateX(0px) translateY(0px) ;
        opacity: 0;
    }

    100%{
        transform: translateX(0px) translateY(20px) ;
        opacity: 1;
        border-bottom: 4px solid rgb(10, 221, 236);
    }
}

.main-div {
    height: 700px;
    width: 600px;
}




body{
	width: 100%;
	background: var(--dark-blue);
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--white);
	letter-spacing: 1.5px;
	font-weight: 500;
}

.checkbox:checked ~ .section .container .row .pb-5 p{
	color: var(--dark-blue);
}

.section {
    position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 99 !important;
}


.background-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:checked ~ .background-color{
	background-color: var(--white);
}

 
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked), 
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: fixed;
	width: 70px;
	left: 96%;
	top: 95%;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'Font Awesome 5 Free';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: "\f186";
	left: 0;
	color: var(--white);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\f185';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 120px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1.5px;
	margin-bottom: 10px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);

}

.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: -1;
}


.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
} 

.col-12, pb-5{
	padding: 0px;
}


.form-label {
	color: var(--white);
    left: -11%;
    position: relative;
}

.checkbox:checked ~ .section .container .row .mb-4 label{
	color: var(--dark-blue);
}

.checkbox:checked ~ .section .container .row .mb-4 p{
	color: var(--dark-blue);
}
.checkbox:checked ~ .section .container .row .mb-4 .btn-outline-light{
	background-color: var(--dark-blue);
}
 
.test{
    position: relative;
    top:-10%;
    left: 62%;
    width: 30px;
    padding: 0%;
    margin: 0%;
}

 #div-test{
	font-family: 'Poppins', sans-serif;
	line-height: 30px;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	padding: 10px;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--white);
	display: none;
} 

.checkbox:checked ~ .section .container .row #div-test {
	color: var(--dark-blue);
	border-color: var(--dark-blue);
}

.checkbox:checked ~ .section .container .row #div-test p{
	color: var(--dark-blue);
}

.titulo-result{
	color: var(--white);
	font-size: 23px;
	width: 350px;
	height: 35px;
}